In [1]:
[I'm an inline-style link](https://www.google.com)

SyntaxError: EOL while scanning string literal (<ipython-input-1-52dbd8efc3bb>, line 1)

In [2]:
$ ipython qtconsole

SyntaxError: invalid syntax (<ipython-input-2-ff721f43f761>, line 1)

[I'm an inline-style link](https://www.google.com)

In [3]:
import pandas as pd

In [5]:
pr.read_csv(/assets/admissions.csv)

SyntaxError: invalid syntax (<ipython-input-5-9e2cfc6a08ff>, line 1)

In [6]:
pd.read_csv('/assets/admissions.csv')

IOError: File /assets/admissions.csv does not exist

In [7]:
pd.read_csv('admissions.csv', head=None, nrows=5)

TypeError: parser_f() got an unexpected keyword argument 'head'

In [8]:
pd.read_csv('admissions.csv', header=None, nrows=5)

       0    1     2         3
0  admit  gre   gpa  prestige
1      0  380  3.61         3
2      1  660  3.67         3
3      1  800     4         1
4      1  640  3.19         4

In [9]:
pr.read_csv('admissions.csv', header = None)

NameError: name 'pr' is not defined

In [19]:
adm_data = pd.read_csv('admissions.csv', header = 0)

In [20]:
adm_data

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
5        1  760.0  3.00       2.0
6        1  560.0  2.98       1.0
7        0  400.0  3.08       2.0
8        1  540.0  3.39       3.0
9        0  700.0  3.92       2.0
10       0  800.0  4.00       4.0
11       0  440.0  3.22       1.0
12       1  760.0  4.00       1.0
13       0  700.0  3.08       2.0
14       1  700.0  4.00       1.0
15       0  480.0  3.44       3.0
16       0  780.0  3.87       4.0
17       0  360.0  2.56       3.0
18       0  800.0  3.75       2.0
19       1  540.0  3.81       1.0
20       0  500.0  3.17       3.0
21       1  660.0  3.63       2.0
22       0  600.0  2.82       4.0
23       0  680.0  3.19       4.0
24       1  760.0  3.35       2.0
25       1  800.0  3.66       1.0
26       1  620.0  3.61       1.0
27       1  520.0  3.74       4.0
28       1  780.0  3.22       2.0
29       0  520.0  3.29       1.0
..     ...    ...   ...       ...
370      1  540.0  3.77       2.0
371      1  680.0  3.76       3.0
372      1  680.0  2.42       1.0
373      1  620.0  3.37       1.0
374      0  560.0  3.78       2.0
375      0  560.0  3.49       4.0
376      0  620.0  3.63       2.0
377      1  800.0  4.00       2.0
378      0  640.0  3.12       3.0
379      0  540.0  2.70       2.0
380      0  700.0  3.65       2.0
381      1  540.0  3.49       2.0
382      0  540.0  3.51       2.0
383      0  660.0  4.00       1.0
384      1  480.0  2.62       2.0
385      0  420.0  3.02       1.0
386      1  740.0  3.86       2.0
387      0  580.0  3.36       2.0
388      0  640.0  3.17       2.0
389      0  640.0  3.51       2.0
390      1  800.0  3.05       2.0
391      1  660.0  3.88       2.0
392      1  600.0  3.38       3.0
393      1  620.0  3.75       2.0
394      1  460.0  3.99       3.0
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[400 rows x 4 columns]

In [21]:
df.describe(adm_data)

NameError: name 'df' is not defined

In [22]:
adm_data.describe()

/Users/Ross/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000         NaN        NaN         NaN
50%      0.000000         NaN        NaN         NaN
75%      1.000000         NaN        NaN         NaN
max      1.000000  800.000000    4.00000    4.000000

In [23]:
adm_data.mean()

admit         0.317500
gre         588.040201
gpa           3.390930
prestige      2.486216
dtype: float64

In [24]:
adm_data.median()

admit         0.000
gre         580.000
gpa           3.395
prestige      2.000
dtype: float64

In [25]:
adm_data.max()

admit         1.0
gre         800.0
gpa           4.0
prestige      4.0
dtype: float64

In [26]:
adm_data.describe()

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000         NaN        NaN         NaN
50%      0.000000         NaN        NaN         NaN
75%      1.000000         NaN        NaN         NaN
max      1.000000  800.000000    4.00000    4.000000