In [2]:
import pandas as pd
import numpy as np
import scipy as sp
import seaborn as sb
import matplotlib as plt
%matplotlib inline

### Column Cleaning Functions

In [3]:
def clean_text(text_string, special_characters):
    cleaned_string = text_string
    for string in special_characters:
        cleaned_string = cleaned_string.replace(string, "")
    cleaned_string = cleaned_string.lower()
    return(cleaned_string)

def clean_list(string_list, special_characters, new_list):
    #runs through every string in a list, cleans them of special characters, lowercases them, and then returns each individual string in a new list.
    for string in string_list:
        cleaned_string = string
        for char in special_characters:
            cleaned_string = cleaned_string.replace(char, "")
        cleaned_string = cleaned_string.lower()
        new_list.append(cleaned_string)

def clean_bbl_value(data):
    ret = str(data).strip().replace(',', '')
    try:
        return int(float(ret))
    except ValueError:
        return 0
        
def annoying_words(text_string, bad_words):
    #removes extra words from a string
    cleaned_string = text_string
    cleaned_string = cleaned_string.split(" ")
    for word in cleaned_string:
        if word in bad_words:
            cleaned_string.remove(word)
    join_string = ' '.join(cleaned_string)
    return join_string
def annoying_words_list(text_list, bad_words, new_list):
    #takes a list of strings, removes all extra words, rejoins the string, and then adds the new strings into a new list.
    for strings in text_list:
        #take each string in a list, and split it on the space between words, creating a list of individual words
        cleaned_string = strings
        cleaned_string = cleaned_string.split(" ")
        #check each word in the list specified, if it is found in the split words list, remove that word from the list
        for words in bad_words:
            if words in cleaned_string:
                cleaned_string.remove(words)
        #now that we've removed the words we want, re-join the remaining words back into a string
        join_string = '_'.join(cleaned_string)
        #take each of the new strings created and add them to the final list specified in the arguements
        new_list.append(join_string)

In [4]:
clean_chars = [",",".","'", '&', '#', '*', '/', '(', ')', '-',"'","`"]
extra_words = ['The', 'the', 'Co', 'co', 'llc']

### Importing Brewery CSV files

In [5]:
#Desktop Brewery_Code Brewery_Data
brewery_2008 = pd.read_csv("Brews2008.csv")
brewery_2009 = pd.read_csv("Brews2009.csv")
brewery_2010 = pd.read_csv("Brews2010.csv")
brewery_2011 = pd.read_csv("Brews2011.csv")
brewery_2012 = pd.read_csv("Brews2012.csv")
brewery_2013 = pd.read_csv("Brews2013.csv")
brewery_2014 = pd.read_csv("Brews2014.csv")

In [6]:
brewery_names_2008 = list(brewery_2008["Business Name"])
brewery_names_2009 = list(brewery_2009["Business Name"])
brewery_names_2010 = list(brewery_2010["Name"])
brewery_names_2011 = list(brewery_2011["Craft Brewer Name"])
brewery_names_2012 = list(brewery_2012["Craft Brewer Name"])
brewery_names_2013 = list(brewery_2013["Craft Brewer Name"])
brewery_names_2014 = list(brewery_2014["Craft Brewer Name"])

### Cleaning out punctuation

In [7]:
clean1_2008 = []
clean_list(brewery_2008["Business Name"], clean_chars, clean1_2008)

In [8]:
clean1_2009 = []
clean_list(brewery_2009["Business Name"], clean_chars, clean1_2009)

In [9]:
clean1_2010 = []
clean_list(brewery_2010["Name"], clean_chars, clean1_2010)

In [10]:
clean1_2011 = []
clean_list(brewery_2011["Craft Brewer Name"], clean_chars, clean1_2011)

In [11]:
clean1_2012 = []
clean_list(brewery_2012["Craft Brewer Name"], clean_chars, clean1_2012)

In [12]:
clean1_2013 = []
clean_list(brewery_2013["Craft Brewer Name"], clean_chars, clean1_2013)

In [13]:
clean1_2014 = []
clean_list(brewery_2014["Craft Brewer Name"], clean_chars, clean1_2014)

### Clean 2010 - ".0" point

brewery_2008["2008 Total"] = brewery_2008["2008 Total"].apply(clean_bbl_value)

In [14]:
brewery_2009["2009 Total Production"] = brewery_2009["2009 Total Production"].apply(clean_bbl_value)

In [15]:
brewery_2010["2010 Production"] = brewery_2010["2010 Production"].apply(clean_bbl_value)

In [16]:
brewery_2011["2011 BBLS"] = brewery_2011["2011 BBLS"].apply(clean_bbl_value)

In [17]:
brewery_2012["2012 Barrels"] = brewery_2012["2012 Barrels"].apply(clean_bbl_value)

In [18]:
brewery_2013["2013 Barrels"] = brewery_2013["2013 Barrels"].apply(clean_bbl_value)

In [19]:
brewery_2014["2014 Barrels"] = brewery_2014["2014 Barrels"].apply(clean_bbl_value)

In [20]:
brewery_2010["2010 Production"]

0         2650
1         2400
2          475
3           40
4        13036
5          762
6           11
7          450
8           80
9          500
10         740
11         800
12         300
13         800
14        1050
15         763
16         480
17         350
18         300
19      109100
20          80
21         704
22         483
23         450
24         150
25        1560
26         934
27      117100
28         225
29         815
         ...
1669       125
1670         0
1671        20
1672       396
1673       337
1674      1480
1675        14
1676       705
1677       120
1678         0
1679       575
1680       470
1681       125
1682       100
1683         0
1684       175
1685       120
1686      1175
1687       600
1688       659
1689        73
1690      3502
1691        76
1692       150
1693       513
1694     14000
1695      9136
1696        20
1697      3000
1698      1500
Name: 2010 Production, dtype: int64

In [21]:
brewery_2011.head()

       Craft Brewer Name State  Estimate  2011 BBLS
0      (512) Brewing Co.    TX         0       4550
1  10 Barrel Brewing Co.    OR         1       3200
2  12 String Brewing Co.    WA         0         85
3    16 Mile Brewing Co.    DE         1        850
4            192 Brewing    WA         1         75

### Cleaning extra words

In [22]:
clean2_2008 = []
annoying_words_list(clean1_2008,extra_words,clean2_2008)

In [23]:
clean2_2009 = []
annoying_words_list(clean1_2009,extra_words,clean2_2009)

In [24]:
clean2_2010 = []
annoying_words_list(clean1_2010,extra_words,clean2_2010)

In [25]:
clean2_2011 = []
annoying_words_list(clean1_2011,extra_words,clean2_2011)

In [26]:
clean2_2012 = []
annoying_words_list(clean1_2012,extra_words,clean2_2012)

In [27]:
clean2_2013 = []
annoying_words_list(clean1_2013,extra_words,clean2_2013)

In [28]:
clean2_2014 = []
annoying_words_list(clean1_2014,extra_words,clean2_2014)

### Replacing columns in dataframe with cleaned copies

In [29]:
old_2008 = list(brewery_2008["Business Name"])
brews_2008 = brewery_2008.replace(old_2008, clean2_2008)

In [30]:
old_2009 = list(brewery_2009["Business Name"])
brews_2009 = brewery_2009.replace(old_2009, clean2_2009)

In [31]:
old_2010 = list(brewery_2010["Name"])
brews_2010 = brewery_2010.replace(old_2010, clean2_2010)

In [32]:
old_2011 = list(brewery_2011["Craft Brewer Name"])
brews_2011 = brewery_2011.replace(old_2011, clean2_2011)

In [33]:
old_2012 = list(brewery_2012["Craft Brewer Name"])
brews_2012 = brewery_2012.replace(old_2012, clean2_2012)

In [34]:
old_2013 = list(brewery_2013["Craft Brewer Name"])
brews_2013 = brewery_2013.replace(old_2013, clean2_2013)

In [35]:
old_2014 = list(brewery_2014["Craft Brewer Name"])
brews_2014 = brewery_2014.replace(old_2014, clean2_2014)

In [36]:
brews_2010.head()

                          Name State  2010 Production  Estimate
0                  512_brewing    TX             2650         0
1            10_barrel_brewing    OR             2400         0
2              16_mile_brewing    DE              475         1
3                  192_brewing    WA               40         1
4  21st_amendment_brewery_cafe    CA            13036         0

In [37]:
def list_integrity(breweries, brew_list1, brew_list2, brew_list3, brew_list4, brew_list5, brew_list6):
    # start with an empty list relative to this function
    result_list = []
    for brewery in breweries:
        if brewery in brew_list1 and brewery in brew_list2 and brewery in brew_list3 and brewery in brew_list4 and brewery in brew_list5 and brewery in brew_list6:
            result_list.append(brewery)

    # print it out, can comment this out once we know the function is working
    #print result_list

    # send our result back to the caller
    return result_list

In [38]:
brewery_names_2008 = list(brews_2008["Business Name"])
brewery_names_2009 = list(brews_2009["Business Name"])
brewery_names_2010 = list(brews_2010["Name"])
brewery_names_2011 = list(brews_2011["Craft Brewer Name"])
brewery_names_2012 = list(brews_2012["Craft Brewer Name"])
brewery_names_2013 = list(brews_2013["Craft Brewer Name"])
brewery_names_2014 = list(brews_2014["Craft Brewer Name"])
breweries_lists = [brews_2008, brews_2009, brews_2010, brews_2011, brews_2012, brews_2013, brews_2014]

In [39]:
cleaned_brewery_names = [brewery_names_2008, brewery_names_2009, brewery_names_2010, brewery_names_2011, brewery_names_2012, brewery_names_2013]

In [40]:
intact_list1 = list_integrity(brewery_names_2014, brewery_names_2008, brewery_names_2009, brewery_names_2010, brewery_names_2011, brewery_names_2012, brewery_names_2013)

In [41]:
len(intact_list1)

541

In [42]:
brews_2008 = brews_2008.rename(columns = {"Business Name":"Brewery Name"})
brews_2009 = brews_2009.rename(columns = {"Business Name":"Brewery Name"})
brews_2010 = brews_2010.rename(columns = {"Name":"Brewery Name"})
brews_2011 = brews_2011.rename(columns = {"Craft Brewer Name":"Brewery Name"})
brews_2012 = brews_2012.rename(columns = {"Craft Brewer Name":"Brewery Name"})
brews_2013 = brews_2013.rename(columns = {"Craft Brewer Name":"Brewery Name"})
brews_2014 = brews_2014.rename(columns = {"Craft Brewer Name":"Brewery Name"})

In [43]:
for brew_frame in [brews_2008, brews_2009, brews_2010, brews_2011, brews_2012, brews_2013, brews_2014]:
    if 'Estimate' in brew_frame:
        del brew_frame['Estimate']
    #if 'State' in brew_frame:
        #del brew_frame['State']

In [44]:
brews_2008.head()

             Brewery Name State  2008 Total
0             512_brewing    TX         268
1       10_barrel_brewing    OR         921
2  21st_amendment_brewery    CA        1847
3     23rd_street_brewery    KS         776
4      4th_street_brewing    OR         250

In [45]:
brews_2008

                                       Brewery Name State  2008 Total
0                                       512_brewing    TX         268
1                                 10_barrel_brewing    OR         921
2                            21st_amendment_brewery    CA        1847
3                               23rd_street_brewery    KS         776
4                                4th_street_brewing    OR         250
5                           5_seasons_brewing_north    GA         600
6                   5_seasons_brewing_sandy_springs    GA         800
7                               75th_street_brewery    MO        1248
8                                     a1a_ale_works    FL         846
9                                    abbey_beverage    NM         400
10                                    abbey_brewing    FL         400
11                  abbey_wright_brewing_valley_inn    PA          85
12                                    abita_brewing    LA       80000
13          academy_of_fine_beers__josef_bierbitzch    CA         400
14                       adirondack_pub_and_brewery    NY         200
15                                    aiken_brewing    SC         417
16                                  airdale_brewing    CA          90
17                                  alameda_brewing    OR         995
18                                 alandale_brewing    MO         400
19                                  alaskan_brewing    AK      117600
20                    alcatraz_brewing_indianapolis    IN         300
21                          alcatraz_brewing_orange    CA         650
22                           alchemist_pub__brewery    VT         420
23                                       ale_asylum    WI        3624
24                                 alesmith_brewing    CA        1537
25                                 allagash_brewing    ME       12803
26                             allentown_brew_works    PA         944
27                       alltechs_lexington_brewing    KY        4100
28                                      alpine_beer    CA         525
29                                   alpine_brewing    WA         850
...                                             ...   ...         ...
1410        wharf_rat_camden_yardsolivers_breweries    MD         800
1411                            white_marsh_brewing    MD        1400
1412                              whitstran_brewing    WA          87
1413                               wiedenmayer_beer    NJ         100
1414    wild_creek_brewing__untamed_southwest_grill    CO         100
1415              wild_mountain_smokehouse__brewery    CO         251
1416                   wild_river_brewing_and_pizza    OR         296
1417      wild_river_brewing_and_pizza__grants_pass    OR        1476
1418                               wildfire_brewing    OR         921
1419                               wildlife_brewing    ID         420
1420          williamantic_brewing_and_main_st_cafe    CT         590
1421                          williamsburg_alewerks    VA         800
1422                             willoughby_brewing    OH         500
1423         wiltses_brew_pub_and_family_restaurant    MI         125
1424                         wind_river_brewing__wy    WY         520
1425              wolf_creek_restaurant_and_brewery    CA         640
1426                              wolf_pack_brewing    MT         200
1427                              wolf_rock_brewing    CO         450
1428                        wolverine_state_brewing    MI         135
1429                            wooden_shoe_brewing    OH         100
1430                          woodstock_inn_brewery    NH        3334
1431                        woodward_avenue_brewers    MI         625
1432                                  worth_brewing    IA          58
1433                                 wunder_brewing    CA          50
1434  wyoming_state_brewing_world_famous_wonder_bar    WY         275
1435                                   yak_and_yeti    CO         150
1436                          yakima_craft__brewing    WA         102
1437                                  yazoo_brewing    TN        6450
1438                     yellowstone_valley_brewing    MT        3000
1439                              z_street_brewing_    MA          20

[1440 rows x 3 columns]

In [46]:
brew_complete = brews_2008.merge(brews_2009).merge(brews_2010).merge(brews_2011).merge(brews_2012).merge(brews_2013).merge(brews_2014)
brew_complete.columns = ['Brewery Name', 'State', '2008 BBL', '2009 BBL', '2010 BBL', '2011 BBL', '2012 BBL', '2013 BBL', '2014 BBL']
brew_complete

# save this frame as a csv!
brew_complete.to_csv('~/Downloads/brew_complete.csv')

In [47]:
brew_complete.head()

,Brewery Name,State,2008 BBL,2009 BBL,2010 BBL,2011 BBL,2012 BBL,2013 BBL,2014 BBL
0,512_brewing,TX,268,1250,2650,4550,6800,8500,10500
1,10_barrel_brewing,OR,921,1400,2400,3200,6000,23500,40000
2,23rd_street_brewery,KS,776,795,762,787,800,791,748
3,4th_street_brewing,OR,250,450,450,450,450,740,200
4,abbey_brewing,FL,400,350,350,350,400,400,1350

In [48]:
micro_brews_check = brew_complete["2014 BBL"] < 5000

In [49]:
micro_brews = brew_complete[micro_brews_check]

In [50]:
micro_brews["2008 BBL"].median()

450.0

In [51]:
micro_brews["2009 BBL"].median()

500.0

In [52]:
micro_brews["2010 BBL"].median()

560.0

### Importing State Economy Data

In [53]:
state_income = pd.read_csv("state_income.csv")

In [54]:
state_income["State Median Income 2008"].median()

55532.0

In [55]:
state_income["State Median Income 2009"].median()

53420.5

In [56]:
state_income["State Median Income 2010"].median()

52736.5